@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

/* * html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Alata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.font-alata {
  font-family: 'Alata', sans-serif;
}

.font-Josefin {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500
}

.hover > span {
  transform: scale-x-1;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: #ffff
}

.link-underline:hover {
  background-size: 50% 3px;
  background-position: 50% 100%
}

@tailwind base;
@tailwind components;
@tailwind utilities;